body{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #19142A;
}
main {
    max-width: 1000px;
}
.nav-link {
    color: #ffffff;
}
.active {
    background-color: #da1f37;
    border-radius: 5px;
}
#logo {
    height: 35px;
}
.content{
    border: 2px solid  #443f54;
    padding: 20px;
}
.welcome {
    background-color: #57182e;
    padding: 12px;
    width: fit-content;
    border-radius: 4px;
}
.name {
    font-size: 3rem;
}
.title {
    font-size: 2rem;
}
.textw {
    padding-top: 10px;
    font-size: 0.8rem;
}
.backgroundme {
    width: 100%;
    height: 100%;
    position: absolute;
}
.circlefull {
    background-color: #d5213a;
    border-radius: 120px;
    height: 220px;
    width: 220px;
    position: absolute;
    bottom: 60px;
    z-index: -1;
    left: 50px;
}
.circledash {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(44,20,42,1) 0%, rgba(35,20,41,1) 100%);
    border: 2px dashed #32283b;
    border-radius: 120px;
    height: 220px;
    width: 220px;
    position: absolute;
    bottom: 130px;
    z-index: -2;
    left: 120px;;
}
.smallcircle1 {
    position: absolute;
    left: 42px;
    top: 110px;
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 10px;
}
.smallcircle2 {
    position: absolute;
    left: 260px;
    top: 22px;
    height: 12px;
    width: 12px;
    background-color: #f52243;
    border-radius: 10px;
}
.smalltri1 {
    position: absolute;
    left: 260px;
    top: 75px;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ffffff;
    transform: rotate(-80deg);
}
.smalltri2 {
    position: absolute;
    left: 55px;
    top: 20px;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #ffffff;
    transform: rotate(90deg);
}
.smalltri3 {
    position: absolute;
    left: 274px;
    top: 130px;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #f52243;
    transform: rotate(90deg);
}
.socials {
    color: #ce2942;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
}
@media only screen and (min-width: 768px) {
    .socials {
        transform: rotate(90deg);
        margin-left: 80px;
    }
}

.archive {
    background-color: #2a2344;
}
.archivehead {
    font-size: 2rem;
    text-align: center;
}
.archivetext {
    font-size: 1.1rem;
    text-align: center;
}
.dashedbox, .solidbox {
    border: 2px dashed #68223e;
    border-top-right-radius: 30px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-top: 35px;
    margin-bottom: 30px;
    position: relative;
}
.solidbox {
    border: 2px solid #68223e;
}
.archiveicon {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -16px;
    left: 10px;
    background-color: #de1734;
    color: #ffffff;
    width: 30px;
    height: 30px;
}
.archiveicon svg {
    margin-top: 2px;
    height: 25px;
    width: 25px;
}
.msgmsg {
    white-space: nowrap;
}

.testcontent {
    margin: 20px 20px;
    padding: 15px;
    color: white;
}
.testcontent span {
    display: inline-block;
    animation: animate 1.5s ease-in-out infinite;
    animation-delay: calc(0.03s * var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}
